.getPassword{
    background:rgba(255, 255, 255, 0.9);
    color: black;

   padding-left: 10px;
   margin: 10px;
   border-radius: 5px;
   width: 98%;
}
.getPassword:hover{
    background-color: rgba(43, 255, 0, 0.5);;
    color: white;

    margin: 10px;
    border-radius: 5px;
    width: 98%;
}